
  
 <div class = 'container px-5 px-sm-0'>
      <div class = 'row'>
          <div class = 'col-md-3'>
              
             <%= render "list", book: @book_new, user: @user %>
          </div>
          <div class = 'col-md-8 offset-md-1'>
                  <h2>Book detail</h2>
                  <table class = 'table table-hover table-inverse'>
                       <thead>
                           <tr>
                           <th></th>
                           <th>Title</th>
                           <th>Opinion</th>
                           <th colspan="3"></th>
                           </tr>
                       </thead>
                       
                      <tr>
                         
                        <td> 
                        <%= image_tag "default-image.jpg" %>
                        <%= link_to @book.user.name,  user_path(current_user.id) %>
                        </td>
                        <td><%= @book.title %></td>
                        <td><%= @book.opinion %></td>
                         
                        <td colspan = "3">
                          <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
                          <%= link_to"Destroy", book_path(@book.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
                        </td>
                      </tr>
                  </table>
          </div>
      </div>
  </div>